/*family font*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

/* antd design overide */
input {
  border-radius: 1px !important;
  border: 1px solid rgba(128, 128, 128, 0.501) !important;
  height: 40px;
}
input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid rgba(128, 128, 128) !important;
}
label {
  font-size: 14px !important;
  color: black !important;
}
.ant-form-item {
  margin: 10px 0;
}

/* general styling */

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.normal-text {
  font-size: 1rem;
  font-weight: normal;
}

.card {
  box-shadow: 0 0 2px grey;
  border-radius: 0 !important;
}
.primary-button {
  background-color: rgba(53, 5, 149, 0.808);
  border-color: rgba(3, 23, 94, 0.808);
  color: white !important;
  height: 40px;
  width: 100%;
  font-size: 20px;
}
.anchor {
  text-decoration: underline !important;
  color: black;
  font-size: 18px;
  padding: 3px;
  margin-top: 10px !important;
}
/* authentication form */

.authentication {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #472183;
}
.auth-form {
  width: 400px;
}

.authentication .card-title {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgb(170, 11, 64);
  color: white;
  margin-left: -50px;
  padding: 7px 15px;
  border-bottom-left-radius: 15px;
}
